<link rel="stylesheet" href="styles/home.css">
<title>Canil Feliz | Página Inicial</title>

<header>
    <nav class="navbar">
        <div class="menu-list">
            <img src="assets/img/dog-logo.png" alt="">
            <span><a href="/registro-doguinho">Cadastrar para adoção</a></span>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="hero-1">
              <h2 class="section-title">Canil Feliz</h2>
            <p class="section-description">O seu site para ajudar um doguinho a achar um lar ou achar um doguinho pro seu lar!</p>
            <a style="width: 100%;" href="/doguinhos"><button class="search">Pesquisar doguinhos por região</button></a>
            <div class="images-section">
                <img src="/assets/img/corgi-hero.png" id="corgi" alt="">
                <img src="/assets/img/shiba-hero.png" id="shiba" alt="">
            </div>
        </div>
             <img src="/assets/img/corgi-floating.png" class="floating" alt="">
             <img src="/assets/img/corgi-ballon.png" class="ballon" alt="">
          
    </section>

       

</main>


{{!-- <select name="UF" id=""></select>
<select name="UF" id="a"></select> --}}


<script src="scripts/script.js"></script>