<link rel="stylesheet" href="styles/home.css">
<title>Canil Feliz | Página Inicial</title>
<link rel="preconnect" href="https://fonts.gstatic.com">


<header>
    <nav class="navbar">
        <div class="menu-list">
         <img src="/assets/img/logo-2.png" alt="" class="logo">
            <span><a href="/registro-doguinho">Cadastrar para adoção</a></span>
        </div>
    </nav>
</header>
<main>

    <section class="bg-video">
        <video class="bg" src="/assets/mp4/background.mp4" muted autoplay loop="true"></video>
    </section>
    <section>
        <div class="hero-1">
            <div class="hero-title">
                <h2>Adote um cão</h2>
            </div>
            <div class="hero-content">
                <p>Você não vai mudar o mundo adotando um cachorro, mas mudará o dele.</p>
            </div>

            <div class="hero-button">
                <button>adotar</button>
            </div>

        </div>


    </section>



</main>


{{!-- <select name="UF" id=""></select>
<select name="UF" id="a"></select> --}}


<script src="scripts/script.js"></script>