<title>Canil Feliz | Cadastro de Pet</title>
<link rel="stylesheet" href="/styles/registro.css">


<div class="voltar">
    <img class="logo" src="/assets/img/dog-logo.png" alt="">
    <span ><a href="/" class="home-btn">Voltar para Home</a></span>
</div>


<section>
    <div class="cadastro">
        <h1>Cadastro de doguinho</h1>
         <form action="">
             
        </form>
    </div>
    
   
</section>


