<title>Canil Feliz | Cadastro de Pet</title>
<link rel="stylesheet" href="/styles/registro.css">


<div class="voltar">
    <img class="logo" src="/assets/img/dog-logo.png" alt="">
    <span ><a href="/" class="home-btn">Voltar para Home</a></span>
</div>


<section>
    <div class="cadastro">
        <h1>Cadastro de doguinho</h1>
         <form action="">
             <legend><h3>Dados do doguinho</h3></legend>
                 <div class="form">
                     <label for="">Nome</label>
                     <input type="text">
                </div>
                <div class="form-group">
                 <div class="form">
                     <label for="">Raça</label>
                     <input type="text">
                 </div>
                 <div class="form">
                     <label for="">Idade</label>
                     <input type="text">
                 </div>
                </div>  

                <div class="form-group">
                    <div class="form">
                        <label for="">Estado</label>
                        <select name="" class="estados"><option value="default">Selecione um Estado</option></select>
                    </div>
                    <div class="form">
                        <label for="">Município</label>
                        <select name="" class="municipios" disabled='true'><option>Selecione um Municipio</option></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form">
                     <label for="">Telefone</label>
                     <input type="tel">
                    </div>

                    <div class="form">
                    <label for="">Imagem</label>
                    <input type="file" accept=".jpg,.svg,.jpeg,.png">
                    </div>
                </div>
                

                <div class="form">
                    <label for="">Descrição</label>
                    <textarea name="" id="" cols="20" rows="5"></textarea>
                </div>

               <div class="submit">
                    <button type="submit">Cadastrar doguinho</button>
               </div>
        </form>
    </div>
    
   
</section>

<script src="scripts/script.js"></script>


