<title>Canil Feliz | Cadastro de Pet</title>
<link rel="stylesheet" href="/styles/registro.css">


<div class="voltar">
    <img class="logo" src="/assets/img/dog-logo.png" alt="">
    <span ><a href="/" class="home-btn">Voltar para Home</a></span>
</div>


<section>
    <div class="cadastro">
        <h1>Cadastro de doguinho</h1>
         <form action="">
             <legend><h3>Dados do doguinho</h3></legend>
                 <div class="form">
                     <label for="nome">Nome</label>
                     <input type="text" name="nome" required>
                </div>
                <div class="form-group">
                 <div class="form">
                     <label for="raça">Raça</label>
                     <input type="text" required name="raça">
                 </div>
                 <div class="form">
                     <label for="idade">Idade</label>
                     <input type="text" name="idade" required maxlength="2">
                 </div>
                </div>  

                <div class="form-group">
                    <div class="form">
                        <label for="estado">Estado</label>
                        <select name="estado" class="estados" required><option value="default">Selecione um Estado</option></select>
                    </div>
                    <div class="form">
                        <label for="municipio">Município</label>
                        <select name="municipio" class="municipios" disabled='true' required><option>Selecione um Municipio</option></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form">
                     <label for="telefone">Telefone</label>
                     <input type="tel" required autocomplete="tel" name="telefone" maxlength="11">
                    </div>

                    <div class="form">
                    <label for="imagem">Imagem</label>
                    <input type="file" name="imagem" accept=".jpg,.svg,.jpeg,.png" required>
                    </div>
                </div>
                

                <div class="form">
                    <label for="descricao">Descrição</label>
                    <textarea cols="20" name="descricao" rows="5" required></textarea>
                </div>

               <div class="submit">
                    <button type="submit">Cadastrar doguinho</button>
               </div>
        </form>
    </div>
    
   
</section>

<script src="scripts/script.js"></script>


