* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 300px;
  height: 250px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.card {
  margin: 0 auto;
  width: 300px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
}

.card .card-title {
  margin: 20px 0;
  text-align: center;
}

.card .card-content .description {
  margin: 20px 0;
  text-align: center;
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card .card-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background: #ff076e;
  height: 60px;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.card .card-footer .stats-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card .card-footer .stats-1::after {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  width: 1px;
  height: 150%;
  background: rgba(0, 0, 0, 0.233);
}

.card .card-footer .stats-1 p {
  font-weight: bold;
}

.card .card-footer .stats-1 span {
  font-size: 12px;
}

.card .card-footer .stats-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card .card-footer .stats-2::after {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  width: 1px;
  height: 150%;
  background: rgba(0, 0, 0, 0.233);
}

.card .card-footer .stats-2 p {
  font-weight: bold;
}

.card .card-footer .stats-2 span {
  font-size: 12px;
}

.card .card-footer .stats-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-footer .stats-3 p {
  font-weight: bold;
}

.card .card-footer .stats-3 span {
  font-size: 12px;
}
/*# sourceMappingURL=dogs.css.map */