* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  z-index: 1;
}

body {
  overflow: hidden;
  z-index: 1;
}

nav {
  padding-top: 15px;
}

nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

nav .menu-list a {
  color: #ffff;
  position: relative;
}

nav .menu-list img {
  width: 100px;
}

nav .menu-list span {
  position: relative;
  opacity: 0.8;
}

nav .menu-list span ::after {
  content: url("../assets/img/ball.svg");
  position: absolute;
  top: 0;
  right: -25px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

nav .menu-list :hover {
  opacity: 1;
}

nav .menu-list :hover ::after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  right: -50px;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.bg-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.bg-video .bg {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

section .hero-1 {
  height: 70vh;
}

section .hero-1 .hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .hero-1 .hero-title h2 {
  letter-spacing: 1.7px;
  text-align: center;
  color: #ffff;
  font-size: 3rem;
  -webkit-animation: textAppear .7s ease;
          animation: textAppear .7s ease;
}

section .hero-1 .hero-content p {
  width: 100%;
  font-size: 1.5rem;
  color: #ffff;
  letter-spacing: 1.3px;
  margin-top: 25px;
  -webkit-animation: contentAppear 1S ease;
          animation: contentAppear 1S ease;
}

section .hero-1 .hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

section .hero-1 .hero-button button {
  -webkit-animation: buttonAppear 2s ease-in;
          animation: buttonAppear 2s ease-in;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 150px;
  color: #ffff;
  background-color: #cb376a;
  height: 45px;
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  cursor: pointer;
  position: relative;
}

section .hero-1 .hero-button button:hover {
  background-color: transparent;
  border: 1px solid #cb376a;
  stroke-dasharray: 1px 2px;
}

section .hero-1 .hero-button button::after {
  position: absolute;
  content: url("/assets/img/paw.svg");
  top: 1.8vh;
  left: 2vh;
}

@-webkit-keyframes textAppear {
  from {
    -webkit-transform: translateX(-10000px);
            transform: translateX(-10000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes textAppear {
  from {
    -webkit-transform: translateX(-10000px);
            transform: translateX(-10000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes contentAppear {
  from {
    -webkit-transform: translateX(100000px);
            transform: translateX(100000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes contentAppear {
  from {
    -webkit-transform: translateX(100000px);
            transform: translateX(100000px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes buttonAppear {
  from {
    background-color: transparent;
    border: 1px solid #cb376a;
  }
  to {
    background-color: #cb376a;
  }
}

@keyframes buttonAppear {
  from {
    background-color: transparent;
    border: 1px solid #cb376a;
  }
  to {
    background-color: #cb376a;
  }
}
/*# sourceMappingURL=home.css.map */