* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  text-decoration: none;
  z-index: 1;
}

body {
  overflow: hidden;
  z-index: 1;
}


nav {
  padding-top: 15px;

  .menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

    a {
      color: #4ad295;
      position: relative;
    }

    img{
      width:70px;
    }
    span {
      position: relative;
      opacity: 0.8;

      ::after {
        content: url("../assets/img/ball.svg");
        position: absolute;
        top: 0;
        right: -25px;
        transition: 1s ease;
      }
    }

    :hover {
      opacity: 1;

      ::after {
        transform: rotate(360deg);
        right: -50px;
        transition: 2s ease;
      }
    }
  }
}

.bg-video{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index:-1;
  .bg{
    filter: brightness(0.3);
  }
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  
  h2{
    color: #FFFF;
  }

}

