* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f4f5f6;
}

.voltar {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
}

.voltar .logo {
  width: 70px;
}

.voltar .home-btn {
  color: #4ad295;
  position: relative;
}

.voltar span {
  position: relative;
  opacity: 0.8;
}

.voltar span ::before {
  content: url("../assets/img/ball.svg");
  position: absolute;
  top: 0;
  left: -25px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.voltar :hover {
  opacity: 1;
}

.voltar :hover ::before {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  left: -50px;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

section {
  background-color: #ffff;
  margin: 0 auto;
  max-width: 750px;
  border-radius: 5px;
}

section .cadastro {
  padding: 0 20px;
  padding-top: 35PX;
  max-width: 650px;
  margin: 0 auto;
}

section h1 {
  text-align: center;
  color: #000;
}

section form {
  margin-top: 35px;
}

section form legend {
  margin-bottom: 15px;
  color: #000;
}

section form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section form .form-group .form + .form {
  margin-left: 24px;
}

section form .form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

section form .form input, section form .form select, section form .form textarea {
  background-color: #f0f0f5;
  border: 0;
  padding: 10px 26px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  position: relative;
}

section form .form input:focus:not(select), section form .form select:focus:not(select), section form .form textarea:focus:not(select) {
  background: url("../assets/img/pet-ball.svg") no-repeat #f0f0f5;
  background-position: 5px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section form .form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

section form .form label {
  margin-bottom: 10px;
}

section form .form input[type='file'] {
  padding: 7px 10px;
}

section form .submit {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section form .submit button {
  width: 260px;
  height: 56px;
  border-radius: 5px;
  background-color: #4ad295;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-bottom: 35px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

section form .submit button:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
/*# sourceMappingURL=registro.css.map */