*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #f4f5f6;
}
.voltar{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    .logo{
        width: 70px;
    }
    .home-btn{
        color: #4ad295;
        position: relative;
    }

    span {
        position: relative;
        opacity: 0.8;
  
        ::before {
          content: url("../assets/img/ball.svg");
          position: absolute;
          top: 0;
          left: -25px;
          transition: 1s ease;
        }
      }
  
      :hover {
        opacity: 1;
  
        ::before {
          transform: rotate(-360deg);
          left: -50px;
          transition: 2s ease;
        }
      }
}

section{
    background-color: #ffff;
    margin:0 auto;
    max-width:750px;
    border-radius: 5px;


    .cadastro{
        padding:0 20px;
        padding-top: 35PX;
        max-width: 650px;
        margin: 0 auto;
        
    }
    h1{
        text-align: center;
        color: #000;
    }

    form{
        margin-top: 35px;

        legend{
            margin-bottom: 15px;
            color: #000;
        }
        .form-group{
            display: flex;
            
            .form + .form{
                margin-left:24px;
            }
        }

        .form{
            flex: 1;
            margin-bottom:30px;
            display: flex;
            flex-direction: column;
            text-align: start;
            input,select,textarea{
                background-color: #f0f0f5;
                border: 0;
                padding: 10px 26px;
                font-size: 16px;
                
                border-radius: 8px;
            
                outline: none;
                position: relative;

                &:focus:not(select){
                    background: url('../assets/img/pet-ball.svg') no-repeat #f0f0f5;
                    background-position:5px;
                    transform: scale(1.05);
                    
                }
            }

            select{
                appearance: none;
            }

            label{
                margin-bottom: 10px;
            }

            input[type='file']{
                max-width: 286px;
                padding: 7px 10px;
            }
        }
        .submit{
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                width: 260px;
                height: 56px;
                border-radius: 5px;
    
                background-color: #4ad295;
    
                color: white;
                font-weight: bold;
                font-size: 16px;
            
                border: 0;

                margin-bottom: 35px;

                filter: brightness(80%);
                transition: .7s ease;
                &:hover{
                    filter: brightness(100%);
                }
    
            }
        }
        
    }
}

